on:
  release:
    types: [published, edited]

permissions:
  contents: write
  checks: write
  actions: read
  issues: read
  packages: write
  pull-requests: read
  repository-projects: read
  statuses: read

jobs:
  build:
    name: Build and publish package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up cargo
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
    - name: Activate cache
      uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Set up cargo-generate-rpm
      run: cargo install cargo-generate-rpm
    - name: Build
      run: cargo build --release -p ftest
    - name: Strip binary
      run: strip -s target/release/ftest
    - name: Package into RPM
      run: cargo generate-rpm
    - name: Upload RPM to release
      uses: svenstaro/upload-release-action@v2
      with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/generate-rpm/ftest-*.rpm
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
